<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<h1>Создание челоека</h1>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <ul class="person-list">
        <li class="person-item">
            <label for="name">Введите имя</label>
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
            <br/>
            <label for="birthYear">Введите год рождения</label>
            <input type="text" th:field="*{birthYear}" id="birthYear"/>
            <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Age birthYear
            </div>
            <br/>
            <br/>
        </li>
    </ul>

    <div class="links">
        <input type="submit" value="Создать"/>
    </div>
</form>

<div class="links">
    <!--<a th:href="@{/people}">Вернуться в меню</a>-->
    <form th:method="GET" th:action="@{/people}">
        <input type="submit" value="Вернуться в меню"/>
    </form>
</div>


</body>
</html>