/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url("/background.png"); /* Укажите путь к вашему фоновому изображению */
    background-size: cover; /* Чтобы изображение занимало весь фон */
    background-position: center; /* Центрирование изображения */
    color: white; /* Цвет текста */
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #fff; /* Цвет заголовка */
}
.person-list {
    list-style-type: none;
    padding: 0;
}
.person-item {
    background: rgba(210, 173, 26, 0.8); /* Полупрозрачный фон для элементов списка */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.links {
    text-align: center;
    margin-top: 20px;
}
.links form {
    display: inline-block; /* Чтобы кнопки располагались в одну линию */
}
.links input[type="submit"] {
    padding: 10px 20px;
    margin: 5px;
    background-color: #1f6bbd !important; /* Цвет фона кнопки */
    color: #c4b71d !important; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.links input[type="submit"]:hover {
    background-color: #0cc13e !important; /* Цвет при наведении */
}
