<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<h1>Редактирование</h1>


<form th:method="PATCH" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
    <ul class="person-list" th:each="b : ${book}">
        <li class="person-item">
            <label for="title">Введите название</label>
            <input type="text" th:field="*{title}" id="title"/>
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
            <br/>

            <label for="author">Введите автора</label>
            <input type="text" th:field="*{author}" id="author"/>
            <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
            <br/>

            <label for="year">Введите год книги</label>
            <input type="text" th:field="*{year}" id="year"/>
            <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
            <br/>
        </li>
    </ul>
    <div class="links">
        <input type="submit" value="Обновить"/>
    </div>
</form>

<div class="links">
    <!--<a th:href="@{/book/all}">Вернуться в меню</a>-->
    <form th:method="GET" th:action="@{/book/all}">
        <input type="submit" value="Вернуться в меню"/>
    </form>
</div>

</body>
</html>